.hero-image {
  width: 300px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 24px;
}

ion-content {
  --background: #282828;
}


/* Botón principal */
.btn-agregar {
  margin-top: 16px;
  margin-bottom: 24px;
  --border-radius: 10px;
  --box-shadow: none;
  font-weight: 600;
  text-transform: none;
}

/* Elementos de los contactos */
ion-item {
  --background: #ffffff;
  --border-radius: 10px;
  --inner-border-width: 0;
  margin-bottom: 10px;
}

/* Texto del contacto */
ion-label h2 {
  font-weight: 600;
  margin-bottom: 4px;
}

ion-label p {
  color: #666;
}

/* Botón eliminar */
ion-item ion-button {
  --border-radius: 8px;
  text-transform: none;
  font-weight: 500;
}